Introduction

Importing libraries pandas, numpy

In [1]:
import numpy as np
import pandas as pd

Reading sales table data

In [2]:
sales_table = pd.read_csv('../data/sales_data_sample.csv', encoding='CP1252')

Exploring first 10 enteries of table

In [3]:
pd.set_option('display.max_columns', None)
sales_table.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shipped,4,11,2003,Motorcycles,95,S10_1678,Daedalus Designs Imports,20.16.1555,"184, chausse de Tournai",NaN,Lille,NaN,59000,France,EMEA,Rance,Martine,Small
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,Motorcycles,95,S10_1678,Herkku Gifts,+47 2267 3215,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,Motorcycles,95,S10_1678,Mini Wheels Co.,6505555787,5557 North Pendale Street,NaN,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,Motorcycles,95,S10_1678,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium

Exploring table column's info

In [4]:
sales_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

dtypes needs adjustments, ORDERDATE needs conversion to datetime type. Null cells found in ADDRESSLINE2, STATE, POSTALCODE, TERRITORY

Exploring table numerical and frequency stats

In [5]:
sales_table.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [6]:
sales_table.describe(include=object)

,ORDERDATE,STATUS,PRODUCTLINE,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
count,2823,2823,2823,2823,2823,2823,2823,302,2823,1337,2747,2823,1749,2823,2823,2823
unique,252,6,7,109,92,91,92,9,73,16,73,19,3,77,72,3
top,11/14/2003 0:00,Shipped,Classic Cars,S18_3232,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Level 3,Madrid,CA,28034,USA,EMEA,Freyre,Diego,Medium
freq,38,2617,967,52,259,259,259,55,304,416,259,1004,1407,259,259,1384

Checking duplicates in table

In [7]:
sales_table.duplicated().sum()

np.int64(0)

No duplicated entries

In [8]:
sales_table.duplicated(subset=['ORDERNUMBER', 'ORDERLINENUMBER']).sum()

np.int64(0)

No duplicated order lines in same order

Null cells in ADDRESLINE2, STATE,POSTALCODE, TERRITORY to be replaced by a simple empty string as it can be just empty, not always used field in forms

In [9]:
sales_table['ADDRESSLINE2'].fillna('', inplace=True)
sales_table['STATE'].fillna('', inplace=True)
sales_table['POSTALCODE'].fillna('', inplace=True)
sales_table['TERRITORY'].fillna('', inplace=True)

Check null count after cleaning

In [10]:
sales_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      2823 non-null   object
 17  CITY              2823 non-null   object
 18  STATE             2823 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         2823 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

Null cells filled

for dtypes need update:

Numerical: ORDERNUMBER, QUANTITYORDERED, ORDERLINENUMBER, QTR_ID, MONTH_ID, YEAR_ID, MSRP

datetime: ORDERDATE

Converting ORDERDATE to datetime dtype

In [11]:
sales_table['ORDERDATE'] = pd.to_datetime(sales_table['ORDERDATE'])

Checking ORDERDATE dtype after conversion

In [12]:
sales_table.dtypes

ORDERNUMBER                  int64
QUANTITYORDERED              int64
PRICEEACH                  float64
ORDERLINENUMBER              int64
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       int64
MONTH_ID                     int64
YEAR_ID                      int64
PRODUCTLINE                 object
MSRP                         int64
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                       object
ADDRESSLINE1                object
ADDRESSLINE2                object
CITY                        object
STATE                       object
POSTALCODE                  object
COUNTRY                     object
TERRITORY                   object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
DEALSIZE                    object
dtype: object

Checking that YEAR_ID match date in ORDERDATE

In [13]:
(sales_table['ORDERDATE'].dt.year == sales_table['YEAR_ID']).value_counts()

True    2823
Name: count, dtype: int64

YEAR_ID match ORDERDATE

Checking that MONTH_ID match date in ORDERDATE

In [14]:
(sales_table['ORDERDATE'].dt.month == sales_table['MONTH_ID']).value_counts()

True    2823
Name: count, dtype: int64

MONTH_ID match ORDERDATE

Checking that QTR_ID match date in ORDERDATE, through chekcs with MONTH_ID as it matches ORDERDATE

In [15]:
(sales_table['QTR_ID'] == (sales_table['MONTH_ID'] - 1) // 3 + 1).value_counts()

True    2823
Name: count, dtype: int64

QTR_ID match ORDERDATE

Checking YEARID range

Optimising YEAR_ID, MONTH_ID, QTR_ID ORDERNUMBER, QUANTITYORDERED, ORDERLINENUMBER, MSRP dtypes based on their min, max values

In [16]:
sales_table['YEAR_ID'] = sales_table['YEAR_ID'].astype(np.uint16)
sales_table['MONTH_ID'] = sales_table['MONTH_ID'].astype(np.uint8)
sales_table['QTR_ID'] = sales_table['QTR_ID'].astype(np.uint8)
sales_table['ORDERNUMBER'] = sales_table['ORDERNUMBER'].astype(np.uint16)
sales_table['QUANTITYORDERED'] = sales_table['QUANTITYORDERED'].astype(np.uint8)
sales_table['ORDERLINENUMBER'] = sales_table['ORDERLINENUMBER'].astype(np.uint8)
sales_table['MSRP'] = sales_table['MSRP'].astype(np.uint8)

Cheking dtypes after optimisation

In [17]:
sales_table.dtypes

ORDERNUMBER                 uint16
QUANTITYORDERED              uint8
PRICEEACH                  float64
ORDERLINENUMBER              uint8
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       uint8
MONTH_ID                     uint8
YEAR_ID                     uint16
PRODUCTLINE                 object
MSRP                         uint8
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                       object
ADDRESSLINE1                object
ADDRESSLINE2                object
CITY                        object
STATE                       object
POSTALCODE                  object
COUNTRY                     object
TERRITORY                   object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
DEALSIZE                    object
dtype: object

Checking Phone values

In [18]:
sales_table['PHONE'].unique()

array(['2125557818', '26.47.1555', '+33 1 46 62 7555', '6265557265',
       '6505551386', '6505556809', '20.16.1555', '+47 2267 3215',
       '6505555787', '(1) 47.55.6555', '03 9520 4555', '2125551500',
       '2015559350', '2035552570', '40.67.8555', '6175558555',
       '90-224 8555', '07-98 9555', '2155551555', '6562-9555',
       '+61 2 9495 8555', '5085552555', '(171) 555-2282',
       '(91) 555 94 44', '0921-12 3555', '(91) 555 22 82', '+65 221 7555',
       '2125558493', '61-7-3844-6555', '2155554695', '78.32.5555',
       '(604) 555-3392', '3105553722', '6175555555', '2035559545',
       '+81 3 3584 0555', '011-4988555', '0695-34 6555', '30.59.8555',
       '4155551450', '6035558647', '02 9936 8555', '(514) 555-8054',
       '+81 06 6342 5555', '2155559857', '40.32.2555', '9145554562',
       '31 12 3555', '(171) 555-0297', '5085559555', '61.77.6555',
       '(171) 555-7555', '(93) 203 4555', '2155554369', '7605558146',
       '(02) 5554 67', '(604) 555-4555', '6175559555', '(198) 555-8888',
       '981-443655', '4085553659', '(1) 42.34.2555', '7675-3555',
       '6175552555', '+65 224 1555', '+63 2 555 3587', '91.24.4555',
       '0221-5554327', '0897-034555', '0522-556555', '6175557555',
       '+49 69 66 90 2555', '+358 9 8045 555', '2125557413',
       '+353 1862 1555', '+34 913 728 555', '(171) 555-1555',
       '86 21 3555', '2125551957', '3105552373', '(95) 555 82 82',
       '4155554312', '88.60.1555', '7025551838', '+47 2212 1555',
       '035-640555', '61-9-3844-6555', '2035554407', '+49 89 61 08 9555',
       '(071) 23 67 2555', '6175558428'], dtype=object)

Checking ADDRESSLINE1 values

In [19]:
sales_table['ADDRESSLINE1'].unique()

array(['897 Long Airport Avenue', "59 rue de l'Abbaye",
       '27 rue du Colonel Pierre Avia', '78934 Hillside Dr.',
       '7734 Strong St.', '9408 Furth Circle', '184, chausse de Tournai',
       'Drammen 121, PR 744 Sentrum', '5557 North Pendale Street',
       '25, rue Lauriston', '636 St Kilda Road', '2678 Kingston Rd.',
       '7476 Moss Rd.', '25593 South Bay Ln.',
       '67, rue des Cinquante Otages', '39323 Spinnaker Dr.',
       'Keskuskatu 45', 'Erling Skakkes gate 78', '7586 Pompton St.',
       'Geislweg 14', 'Monitor Money Building, 815 Pacific Hwy',
       '1785 First Street', 'Berkeley Gardens 12  Brewery',
       'C/ Moralzarzal, 86', 'Berguvsv„gen  8', 'C/ Araquil, 67',
       'Bronz Sok., Bronz Apt. 3/6 Tesvikiye', '5905 Pompton St.',
       '31 Duncan St. West End', '782 First Street', '2, rue du Commerce',
       '1900 Oak St.', '3675 Furth Circle', '4658 Baden Av.',
       '567 North Pendale Street', '2-2-8 Roppongi',
       'Via Monte Bianco 34', '?kergatan 24', "67, avenue de l'Europe",
       '5677 Strong St.', '2304 Long Airport Avenue', '7825 Douglas Av.',
       '201 Miller Street', '43 rue St. Laurent',
       'Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku', '11328 Douglas Av.',
       '54, rue Royale', '3758 North Pendale Street', "Vinb'ltet 34",
       '35 King George', '4575 Hillside Dr.', '1 rue Alsace-Lorraine',
       '120 Hanover Sq.', 'Rambla de Catalu¤a, 23', '6047 Douglas Av.',
       '361 Furth Circle', 'Rue Joseph-Bens 532', '23 Tsawassen Blvd.',
       '8616 Spinnaker Dr.', 'Garden House Crowther Way', 'Torikatu 38',
       '3086 Ingle Ln.', '265, boulevard Charonne', 'Kirchgasse 6',
       '6251 Ingle Ln.', 'Village Close - 106 Linden Road Sandown',
       '15 McCallum Street - NatWest Center #13-03',
       '12, rue des Bouchers', 'Mehrheimerstr. 369', 'Grenzacherweg 237',
       'Strada Provinciale 124', '7635 Spinnaker Dr.', 'Lyonerstr. 34',
       'Software Engineering Center, SEC Oy', '4092 Furth Circle',
       '25 Maiden Lane', "Merchants House, 27-30 Merchant's Quay",
       'Fauntleroy Circus', 'Smagsloget 45', '5290 North Pendale Street',
       '4097 Douglas Av.', 'C/ Romero, 33', '2793 Furth Circle',
       '24, place Kluber', '8489 Strong St.',
       'Drammensveien 126 A, PB 744 Sentrum', 'Via Ludovico il Moro 22',
       '7 Allen Street', '2440 Pompton St.', 'Hansastr. 15',
       'Boulevard Tirou, 255', '16780 Pompton St.'], dtype=object)

Checking ADDRESSLINE2 values

In [20]:
sales_table['ADDRESSLINE2'].unique()

array(['', 'Level 3', 'Suite 101', 'Level 6', 'Suite 750', 'Level 15',
       '2nd Floor', 'Suite 400', 'Floor No. 4', 'Suite 200'], dtype=object)

Checking TERRITORY values

In [21]:
sales_table['TERRITORY'].unique()

array(['', 'EMEA', 'APAC', 'Japan'], dtype=object)

Checking CONTACTLASTNAME values

In [22]:
sales_table['CONTACTLASTNAME'].unique()

array(['Yu', 'Henriot', 'Da Cunha', 'Young', 'Brown', 'Hirano', 'Rance',
       'Oeztan', 'Murphy', 'Perrier', 'Ferguson', 'Frick', 'King',
       'Labrune', 'Hernandez', 'Karttunen', 'Bergulfsen', 'Pipps',
       'Huxley', 'Benitez', 'Devon', 'Freyre', 'Berglund', 'Sommer',
       'Natividad', 'Calaghan', 'Cervantes', 'Saveley', 'Tannamuri',
       'Thompson', 'Tseng', 'Shimamura', 'Accorti', 'Larsson', 'Tonini',
       'Nelson', "O'Hara", 'Fresnisre', 'Kentary', 'Schmitt', 'Petersen',
       'Tam', 'Roulet', 'Hardy', 'Saavedra', 'Chandler', 'Dewey',
       'Lincoln', 'Yoshido', 'Bennett', 'Koskitalo', 'Bertrand', 'Mendel',
       'Franco', 'Victorino', 'Cruz', 'Lebihan', 'Pfalzheim', 'Holz',
       'Moroni', 'Barajas', 'Keitel', 'Suominen', 'Cassidy', 'Fernandez',
       'Ashworth', 'Ibsen', 'Kuo', 'Roel', 'Taylor', 'Citeaux', 'Klaeboe',
       'Rovelli', 'Connery', 'Lewis', 'Donnermeyer', 'Cartrain'],
      dtype=object)

Checking CONTACTFIRSTNAME values

In [23]:
sales_table['CONTACTFIRSTNAME'].unique()

array(['Kwai', 'Paul', 'Daniel', 'Julie', 'Juri', 'Martine', 'Veysel',
       'Dominique', 'Peter', 'Michael', 'William', 'Janine', 'Marta',
       'Matti', 'Jonas', 'Kyung', 'Georg', 'Adrian', 'Violeta',
       'Elizabeth', 'Diego', 'Christina', 'Mart¡n', 'Eric', 'Maria',
       'Tony', 'Francisca', 'Mary', 'Yoshi', 'Steve', 'Leslie', 'Akiko',
       'Paolo', 'Valarie', 'Allen', 'Anna', 'Jean', 'Mory', 'Rosa',
       'Carine', 'Jytte', 'Ann', 'Wing C', 'Annette', 'Thomas', 'Eduardo',
       'Catherine', 'Helen', 'Pirkko', 'Sue', 'Marie', 'Roland', 'Wendy',
       'Arnold', 'Laurence', 'Henriette', 'Maurizio', 'Miguel', 'Kalle',
       'Jeff', 'Dean', 'Jesus', 'Victoria', 'Palle', 'Kee', 'Jose Pedro',
       'Frederique', 'Jan', 'Giovanni', 'Sean', 'Dan', 'Pascale'],
      dtype=object)

Checking DEALSIZE values

In [24]:
sales_table['DEALSIZE'].unique()

array(['Small', 'Medium', 'Large'], dtype=object)

Exporting Clean csv under generated directory

In [25]:
sales_table.to_csv('../data/generated/sales_data_sample_Clean.csv', index=False)

Exploring orders stats

In [26]:
round(sales_table['ORDERLINENUMBER'].mean(), 2)

np.float64(6.47)

Average line number per order is 6.47

In [27]:
round((sales_table.groupby(['ORDERNUMBER'])['SALES'].sum()).mean(), 2)

np.float64(32679.57)

Average sales per order is 32679.57

In [37]:
sales_table['STATUS'].value_counts()

STATUS
Shipped       2617
Cancelled       60
Resolved        47
On Hold         44
In Process      41
Disputed        14
Name: count, dtype: int64